@{
    ViewBag.Title = "About";
}
<h3>This project is an idea proposed by:</h3>

<p>
    <strong>
        Zhe Feng(HenryFenny)<br />
        when he was an intern at Microsoft.<br />
        <br />
    </strong>
</p>

<h3>And it is luckly supported by his</h3>

<p>
    <strong>
        Interviewer: Ranger Yu<br />
        First mentor: Rocco Ren<br />
        Second mentor: Jazzen Chen<br />
    </strong>
</p>