@{
    ViewBag.Title = "Home Page";
}

<div id="canvas" style="height:480px;width: 640px; margin:0 auto;display: block;text-align: left;">
    <script>
        var paper = Raphael("canvas", 640, 480);
        var squareOne = paper.rect(250, 240, 80, 80);
        squareOne.attr({ fill: "blue" });
        var squareTwo = paper.rect(350, 240, 80, 80);
        squareTwo.attr({ fill: "green" });
    </script>
</div>

<script src="~/Scripts/mine/animation.js"></script>
<script>
    $(function () {
        $("svg").click(function () {
            HorizonalExchange(squareOne, squareTwo);
        });
    });
</script>