@{
    ViewBag.Title = "Home";
}
<link href="~/Content/mine/homeindex.css" rel="stylesheet" />
<!-- For D3.js -->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<div id="queryBarContainer" class="col-lg-12 col-md-12 col-sm-12">
    <div id="queryBar" class="input-group mid-content">
        <input id="inputArr" type="text" class="form-control"
               placeholder="please enter numbers split by space" />
        <span class="input-group-btn">
            <button id="btnGo" type="button" class="btn btn-default">GO!</button>
        </span>
    </div>
</div>
<div id="paper" class="mid-content" align="center">
</div>

@Scripts.Render("~/bundles/home-index");
