@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/mine/homeindex.css" rel="stylesheet" />

<div class="col-lg-12 col-md-12 col-sm-12">
    <div id="queryBar" class="input-group mid-content" style="max-width: 800px">
        <input id="inputArr" type="text" class="form-control" />
        <span class="input-group-btn">
            <button id="btnGo" type="button" class="btn btn-default">GO!</button>
        </span>
    </div>
</div>
<div id="paper" class="mid-content" align="center">
</div>

<script src="~/Scripts/mine/animation.js"></script>
<script src="~/Scripts/mine/homeindex.js"></script>