@{
    ViewBag.Title = "Algorithm";
}
<link href="~/Content/mine/settings-algorithm.css" rel="stylesheet" />

<div class="half-center">
    <form role="form">
        <div class="form-group-lg">
            <h2>Sort Algorithm:</h2>
            <span class="help-block">
                Choose the sort algorithms you want to use.
            </span>
            <br />
            <div class="radio">
                <label class="radio-inline">
                    <input name="sort" type="radio" value="BUBBLE" />
                    Bubble Sort
                </label>
                <label class="radio-inline">
                    <input name="sort" type="radio" value="HEAP" />
                    Heap Sort
                </label>
                <label class="radio-inline">
                    <input name="sort" type="radio" value="INSERTION" />
                    Insertion Sort
                </label>
                <label class="radio-inline">
                    <input name="sort" type="radio" value="MERGE" />
                    Merge Sort
                </label>
                <label class="radio-inline">
                    <input name="sort" type="radio" value="QUICK" />
                    Quick Sort
                </label>
                <label class="radio-inline">
                    <input name="sort" type="radio" value="SELECTION" />
                    Selection Sort
                </label>
                <label class="radio-inline">
                    <input name="sort" type="radio" value="SHELL" />
                    Shell Sort
                </label>
            </div>
        </div>
    </form>
    <hr class="splitter" />
</div>

@Scripts.Render("~/bundles/settings-algorithm")