@{
    ViewBag.Title = "Animation";
}
<link href="~/Content/mine/settings-animation.css" rel="stylesheet" />

<div class="half-center">
    <div class="input-group">
        <span class="input-group-addon">Animation time interval:</span>
        <input id="timeInterval" name="timeInterval" type="text" class="form-control" />
    </div>
</div>

@Scripts.Render("~/bundles/settings-animation")
