div#sideNavbar {
    position: fixed;
    left: 0;
    top: 100px;
    width: 40px;
    background-color: ghostwhite;
}

div#bodyContainer {
    margin-top: 20px;
}

span.icon-text {
    padding-left: 20px;
    font-family: "Segoe UI", "微软雅黑";
    font-size: large;
}

div#sideNavbar a {
    overflow: hidden;
}
